* {
  font-family: sans-serif;
}
body {
  width: 100vh;
  height: 100vh;
  background-color: #182c61;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #040e2d;
  height: auto;
  width: 600px;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 20px;
  border: 3px solid white;
}
div {
  color: white;
}

div button {
  border: none;
  background-color: #25922c;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  width: 50%;

}

div h3 {
  font-size: 20px;
  font-weight: 500;
}
b {
  color: rgb(191, 191, 16);
}
.img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 3px solid white;
  align-items: center;
}
